div.loading {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99999999999999999;
}

.loading {
    /* height: 200px; */
    position: relative;
    /* border: 3px solid green; */
}